[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "*"
scikit-image = "*"
splitraster = {editable = true, path = "."}

[dev-packages]
ipykernel = "*"
mkdocs = "*"
black = "*"
pre-commit = "*"
pytest = "*"
ipykernel = "*"
torch = "*"
matplotlib = "*"
torchvision = "*"

[requires]
python_version = "3.10"
